
/*模态框*/
#mask{
    width: 100%;
    height: 100%;
    opacity:0.4;
    filter: alpha(opacity=40);
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
#show{
    width: 300px;
    height: 300px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 50px 130px rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -150px;
    display: none;
}
#show .x{
    position: relative;
    height: 15px;
    color:rgba(0, 0, 0, 0.4);
    font-family: "微软雅黑";
}
.x strong{
    position: absolute;
    height: 20px;
    right:10px;
    top: 0;
    cursor: pointer;
    text-align: center;
    line-height:20px;
}
#show .biaoti{
    text-align: center;
    height: 70px;
    line-height: 60px;
    font-family: 微软雅黑;
    color: #6e49a4;
}
#show .username{
    position: relative;
}
#show .username img{
    position: absolute;
    top: 0;
    left: 35px;
}
#show .password{
    position: relative;
}
#show .password img{
    position: absolute;
    top: 0;
    left: 35px;
}
#show input{
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 50px;
    margin-bottom: 18px;
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    border: 0;
}
#show input[type="text"],#show input[type="password"]{
    padding-left: 80px;
}
#show input[type="submit"]{
    cursor: pointer;
    background-color: rgba(136,164,255,1);
    color:#fff;
    font-family: "微软雅黑";
    font-weight: 600;
    transition: all 0.3s;
}
#show input[type="submit"]:hover{
    background-color: rgba(136,164,255,0.7);
    color: rgba(136,164,255,1);
}