.topic{
    color: #666;
}
.topic h3{
    color:#3f4652;
}

.topic-submit{
    padding: 20px 0;
}
#topicName,#topicContent,#topicPub{
    border: 0;
    border-bottom: 1px solid #c0c0c0;
    border-radius: 4px;
    padding-left:  10px;
    color: #666;
}

.topicBtn{
    width: 150px;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    line-height: 45px;
    background-color: #fff;
    box-shadow: 3px 3px 10px #c0c0c0;
    color: #666666;
    margin: 20px 0 0 0;
    transition: all 0.3s;
    cursor: pointer;
}

.topicBtn:hover{
    color: #0e446f;
    background-color:rgba(138,177,234,0.1);
}


.topic-header{
    margin-top: 20px;
}


.topic-header-ul{
    padding: 20px;
}

#topicUl li:nth-of-type(odd){
    background-color: rgba(138,177,234,0.1);

}/*奇数行*/

#topicUl li:nth-of-type(even){

}/*偶数行*/