<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        开关灯：<br />
        <hr><br />
        <button onclick="window.location.href='index.php?p=admin&c=mqtt&a=pubcmd&cmd=0'">关所有灯</button><br /> 
        <hr><br />
        <button onclick="window.location.href='index.php?p=admin&c=mqtt&a=pubcmd&cmd=1'">一号灯亮</button><br />
        <hr><br />
        <button onclick="window.location.href='index.php?p=admin&c=mqtt&a=pubcmd&cmd=2'">二号灯亮</button><br />
        <hr><br />
        <button onclick="window.location.href='index.php?p=admin&c=mqtt&a=pubcmd&cmd=3'">三号灯亮</button><br />
        <hr><br />
        <button onclick="window.location.href='index.php?p=admin&c=mqtt&a=pubcmd&cmd=4'">一二号灯亮</button><br />
        <hr><br />
        <button onclick="window.location.href='index.php?p=admin&c=mqtt&a=pubcmd&cmd=5'">一三号灯亮</button><br />
        <hr><br />
        <button onclick="window.location.href='index.php?p=admin&c=mqtt&a=pubcmd&cmd=6'">二三号灯亮</button>  <br /> 
        <hr><br />
        <button onclick="window.location.href='index.php?p=admin&c=mqtt&a=pubcmd&cmd=7'">开所有灯</button>  <br />      

    </body>
</html>
