<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table cellpadding="3" cellspacing="1" width="100%" border="1">
            <td>
                <input type="button" value="温湿度" 
                       onclick="window.location.href='index.php?p=admin&c=mqtt&a=showlist&flag=4001'" >
            </td>
            <td>
                <input type="button" value="光照" 
                       onclick="window.location.href='index.php?p=admin&c=mqtt&a=showlist&flag=7001'" >
            </td>
            <td>
                <input type="button" value="烟雾" 
                       onclick="window.location.href='index.php?p=admin&c=mqtt&a=showlist&flag=6001'" >
            </td>
        </table>
    </body>
</html>
